{% extends 'base.html.twig' %}

{% block title %}Choix Consultation{% endblock %}

{% block head %} {%endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<p> CHOIX PAGE </p>

<form action="{{ path('consultationCompteRendu') }}">
    <button type="submit" class="btn btn-primary">Consulter le compte rendu d'un visiteur</button>
</form>    
<form action="{{ path('consultationPraticienHesitant') }}">
    <button type="submit" class="btn btn-primary">Consulter la liste des praticiens hesitants</button>
</form>

{% endblock %}

{% block footer %} {% endblock %}