{% extends 'base.html.twig' %}

{% block title %}New RapportVisite{% endblock %}

{% block body %}
    <h1>Create new RapportVisite</h1>

    {{ include('compte_rendu/_form.html.twig') }}

    <a href="{{ path('compte_rendu_index') }}">back to list</a>
{% endblock %}
